@model Menu

<div class="text-center">
    <h1 class="display-4">Web AutoServicio Comercio</h1>
    @Model.dibujarVista()
    <p>continuara...</p>
    <button>Terminar todo</button>
    <h1>probando si modifca la vista</h1>
</div>
